<html>
<title>Self-Serve Grocery Store</title>
        	 	<link rel="stylesheet" media="screen" href="static/css/bootstrap.min.css">
        	 	<link rel="stylesheet" href="static/css/bootstrap-theme.min.css">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="container" style = "text-align: center;">
<h2 style = "text-align: center;">Self-Serve Grocery Store</h2>

<form action="" method="post" role="form">
<button type="submit" class="button shop_button" name="submit_button" value="shop">Shop</button>
<button type="submit" class="button register_button" name="submit_button" value="register">Register</button>
</form>
</div>


<style>
    .button {
      background-color: rgb(175, 83, 76);
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 24px;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 8px;
      width: 250px;
    }
    .register_button {
      background-color: rgb(76, 175, 175);
    }
    .shop_button {
      background-color: rgb(87, 175, 76);
    }
</style>
</html>