<!doctype html>
<title>Self-Serve Grocery Store</title>
        	 	<link rel="stylesheet" media="screen" href="static/css/bootstrap.min.css">
        	 	<link rel="stylesheet" href="static/css/bootstrap-theme.min.css">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="container">
<h2>Flask Web Form</h2>
<form action="" method="post" role="form">
    {{ form.csrf }}
<div class="form-group">
      <label for="name">First Name:</label>
<input type="text" class="form-control" id="first_name" name="first_name" placeholder="Enter your first name">

<label for="email">Last Name:</label>
<input type="text" class="form-control" id="last_name" name="last_name" placeholder="Enter your last name">

</div>
<button type="submit" class="button">Sign Up</button>
</form>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}

{% for message in messages %}
{% if "Error" not in message[1] %}
<div class="alert alert-info">
                <strong>Success! </strong> {{ message[1] }}</div>
{% endif %}

{% if "Error" in message[1] %}
<div class="alert alert-warning">
                {{ message[1] }}</div>
{% endif %}
{% endfor %}
{% endif %}
{% endwith %}

</div>

<style>
      .button {
        background-color:  rgb(87, 175, 76);
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 24px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 8px;
        width: 250px;
      }
  </style>