<!doctype html>
<title>Sell Position</title>
<link rel="stylesheet" media="screen" href="static/css/bootstrap.min.css">
<link rel="stylesheet" href="static/css/bootstrap-theme.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="container">
    <h2>Sell Position</h2>
    <form action="" method="post" role="form">
        {{ form.csrf }}
        <div class="form-group">
            <label for="symbol">Symbol:</label>
            {{ form.symbols }}

            <label for="num_shares">Number of Shares:</label>
            <input type="number" class="form-control" id="num_shares" name="num_shares" placeholder="50">

            <label for="avg_cost">Average Cost:</label>
            <input type="number" min="0" step="any" class="form-control" id="avg_cost" name="avg_cost" placeholder="50.00">

        </div>
        <button type="submit" class="button">Sell Position</button>
    </form>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}

    {% for message in messages %}
    {% if "Error" not in message[1] %}
    <div class="alert alert-info">
        <strong>Success! </strong> {{ message[1] }}
    </div>
    {% endif %}

    {% if "Error" in message[1] %}
    <div class="alert alert-warning">
        {{ message[1] }}
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endwith %}

</div>

<style>
    .button {
        background-color: rgb(87, 175, 76);
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 24px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 8px;
        width: 250px;
    }
</style>